@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(https://priyanshu-240499.github.io/M3-task/Task-1/assets/header.jpg);
}